@media (max-width:1199.98px){
    .title{
        font-size: 25px;
    }
    .subtitle{
        font-size: 20px;
    }
    .text{
        font-size: 15px;
    }
    .event .col-xl-5{
        margin-bottom: 25px;
    }
    footer .row{
        justify-content: center !important;
    }
    .footer__item1{
        margin: 0 auto 20px;
    }
    .footer__item2,
    .footer__item3{
        margin: 0 auto;
    }
}
@media (max-width:991.98px){
    section .col-lg-5{
        text-align: center;
        margin-bottom: 50px;
    }
    .video .col-lg-5{
        margin: 50px 0 0;
    }
    section .col-md-10{
        margin: 0 auto;
    }
    .speakers .col-xl-3{
        margin-bottom: 50px;
    }
    .speakers-text{
        margin-top: 20px;
    }
    .contact-form{
        flex-direction: column;
        max-width: 60%;
        padding: 20px 0;
    }
    .contact-form input,
    select{
        margin: 10px 0 !important;
    }
    .sponsors .row{
        justify-content: center !important;
    }
    .sponsors img{
        margin: 15px;
    }
    
}
@media (max-width:767.98px){
    .footer__item2,
    .footer__item3{
        margin: 0;
    }
}
@media (max-width:575.98px){
    .logo{
        width: 100%;
    }
    header a{
        margin: 10px;
    }
    header{
        padding: 100px 0;
    }
    header h1{
        font-size: 21px;
    }
    section{
        padding-top: 50px;
    }
    .title{
        font-size: 20px;
    }
    .subtitle{
        font-size: 17px;
    }
    .tab-content p{
        text-align: center;
    }
    .tab-content .tab-img{
        display: none;
    }
    .speakers{
        padding-bottom: 50px;
    }
    
    .event .nav-tabs .nav-item{
        width: 33.33333%;
    }
    .event .nav-link{
        padding: 10px 0;
    }
    .event .tab-content{
        padding: 25px 5px 5px;
    }
    .card-header .btn-link{
        font-size: 14px;
    }
    .card-header .btn-link span{
        margin-right: 5px;
        font-size: 14px;
    }
    .video iframe{
        height: 250px;
    }
    .carousel-indicators li{
        width: 11px;
        height: 11px;
    }
    .carousel{
        height: 250px;
    }
    .gallery{
        padding-bottom: 50px;
    }
    .contact-form{
        max-width: 90%;
    }
    footer {
        padding: 25px 0;
    }
    .signed__title{
        font-size: 20px;
    }
    .help__title{
        font-size: 18px;
    }
}
